.OURTL{
    width: 617px;
    height: 41px;
    color: #a95e39;
    font-family: Athelas;
    font-size: 59px;
    font-weight: 400;
    line-height: 25.46px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-top: 151px;
    margin-left: auto;
    margin-right: auto;
}
.line{
    margin-top: 40px;
    border: 1px solid #bea193;
    width:445px;
    margin-right: auto;
    margin-left: auto;
}
.text{
    font-style: Helvetica;
    margin-top: 128px;
    width: 1168px;
    height: 104px;
    margin-right: auto;
    margin-left: auto;
    color: #000000;
    font-family: Helvetica;
    font-size: 31px;
    font-weight: 400;
    line-height: 28.46px;
    letter-spacing: 0.5px;
    text-align: center;
    margin-bottom: 131px;
}
.leaders_photos{
    display: flex;
    justify-content: space-between;
    width: 1542px;
    height: 570px;
    margin-right: auto;
    margin-left: auto;
}
.photo{
    // border: 1px solid #000;
    background-image: url("img/bomzh.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 128%;
    width: 450px;
    height: 100%;  
}
#p1{
    background-size: 108%;
}
#p2{
    background-image: url("img/jma.jpg");
}
#p3{
    background-image: url("img/bomj.jpg");
    background-size: 228%;
}
.name{
    align-content: center;
    width: 250px;
    height: 28px;
    color: #000000;
    font-family: Helvetica;
    font-size: 31px;
    font-weight: 400;
    line-height: 25.46px;
    letter-spacing: 0.9px;
    text-align: center;
}
.names{
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    width: 1350px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 62px;
}
.Lorem{
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 320px;
}

.Lorem_text{
    text-align: center;
    width: 390px;
    height: 70px;
    color: #000000;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.46px;
    letter-spacing: 0.6px;
}
.clients_bar{
    justify-content: space-around;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 340px;
    border: 1px solid #000;
    width: 100%;
    background-color: #1b2a31;
    align-content: center;
    .numbers{
        width: 100%;
        justify-content: space-around;
        display: flex;
        margin-bottom: 37px;
    }
    .textblock{
        display: flex;
        justify-content: space-around;
        width: 100%;
}

}
.client_bar_number{
    margin-left: auto;
    margin-right: auto;
    width: 201px;
    height: 57px;
    color: #995437;
    font-family: Vani;
    font-size: 77px;
    font-weight: 700;
    line-height: 38.37px;
    letter-spacing: 1.5px;
    text-align: center;
    
}
.client_bar_block{
    width: 228px;
    height: 28px;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 24px;
    font-weight: 400;
    line-height: 38.37px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
}
.picture{
    background: url(img/Color_Fill.jpg);
    width: 100%;
    height: 1103px;
    opacity: 1;
    background-color: #1a8fc0;
    background-color: black;
    background-size: cover;
}
.contact_us{
    width: 100%;
    height: 1435px;
    background-color: #243740;
    opacity: 1;
    padding-top: 422px;
    .contact_us_title{
        text-align: center;
        width: 1500px;
        height: 45px;
        color: #ffffff;
        font-family: Athelas;
        font-size: 66px;
        font-weight: 400;
        line-height: 131.13px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 69px;
    }
   
}
.contact_us_text{
    margin-top: 0px;
    width: 766px;
    height: 71px;
    color: #c0c0c0;
    font-family: "Quattrocento Sans";
    font-size: 28px;
    font-weight: 400;
    line-height: 41.41px;
    letter-spacing: 0.5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}