$text-transform: uppercase;
@font-face{
    font-family: "Maria";
    src: url(shrift/8143.otf);
    font-style: normal; 
    font-weight: normal
}
@font-face{
    font-family: "Baskerville";
    src: url(shrift/baskerville_normal.ttf);
    font-style: normal; 
    font-weight: normal
}
@font-face{
    font-family: "Athelas";
    src: url(shrift/Athelas-regular.ttf);
    font-style: normal; 
    font-weight: normal
}
@font-face{
    font-family: "Helvetica";
    src: url(shrift/Helvetica-regular.ttf);
    font-style: normal; 
    font-weight: normal
}
